body, html{
  padding: 0px;
  margin: 0px;
  height: 100%;
}
body{
  background-color: #000;
  color: #fff;
}
@font-face {
   font-family: Capraia;
   src: url(media/Capraia-SemiBoldItalic.otf); <!inserted font from outside library-->
 }

 h1{
  font-family: Capraia;
  text-align: center;
  font-size: 50px;
}

p{
  text-align: center;
  font-size: 20px;
}

.parallax {
  background-image: url('media/albumcover.jpeg');

  /* Set a specific height */
  height: 80%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.textcenter {
  text-align: center;
}

.redborder{
height:100%;
background-color:red;
font-size:36px;
}

.titleimg{
  height:25%;
  width: 100%;
  padding-bottom: 50px;
}
.titleborder{
  text-align: center;

  height:10%;
  background-color:#00000;
  font-size:36px;
}
